
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&family=Reem+Kufi:wght@500;600;700&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');

a{
    text-decoration: none;
}

footer{
    
}

.copyright div p{
    font-size: 1rem;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */